<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/first.css">
</head>
<body>
    <div class="scoreboard">
        <p id="scor"></p>
    </div>
    <div class="forfun">
        <div id="ff1"></div>
        <div id="ff2"></div>
        <div id="ffff">
            <img src='/img/micunda.jpg'>
        </div>
    </div>
    <div class="IMAGINETRYTOLIVE">
        <img src="/img/yay.jpg">
        <a href="/"><div id="imgComple">life</div></a>
    </div>
    <div class="w"></div>
    <div class="firstdiv"></div>
    <script src="js/first.js"></script>
</body>
</html>