<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Second</title>
    <link rel="stylesheet" href="css/second.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
</head>
<body>
    <div class="mainDiv">
        <div class="dbar">Simple questions</div>
        <div class="dqeust"></div>
    </div>
    <div class="score">
        <div id="spravne"></div>
        <div id="spatne"></div>
    </div>
    <div class="IMAGINETRYTOLIVE">
        <img src="/img/yoyo.jpg">
        <a href="/"><div id="imgComple">life</div></a>
    </div>
    <div class="username">
        <form style="padding:10px" action="/submitosnamenos" method="get">
            <label style="color: white">Zadej jméno!</label>
            <input type="hidden" name="score1" id="score1">
            <input type="hidden" name="score2" id="score2">
            <input type="text" name="name" id="inputName" maxlength="20" minlength="4">
            <button type="submit">Dále</button>
        </form>
    </div>
    <script src="js/second.js"></script>
</body>
</html>