.firstdiv{
    background-color: limegreen;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 1536px;
    height: 864px;
}
.zivot{
    transition: 0.2s background-color;
    position: absolute;
    background-color: rgb(70, 87, 73);
    height: 75px;
    width: 75px;
    color: white;
    padding: 10px;
    margin:10px;
    border-radius: 10px;
    font-size: larger;
    vertical-align: middle;
    line-height: 75px;
    text-align: center;
    font-family: sans-serif;
}
.zivot:hover{
    background-color: rgb(87, 116, 92);
    cursor: pointer;
}
.forfun{
    border: whitesmoke solid 2px;
    transition: 0.25 border;
    z-index: 5;
    transform: translateX(-50%);
    left: 50%;
    width: 400px;
    height: 75px;
    background-color: black;
    position: fixed;
    color: white;
    font-family: sans-serif;
    vertical-align: middle;
    line-height: 75px;
    text-align: center;
    border-radius: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#ff1{
    width: 200px;
    float: left;
}
#ff2{
    width: 200px;
    float: right;
}
#ffff img{
    position: fixed;
    width: 70px;
    top: 50%;
    transform: translate(-50%,-50%);
    border: white solid 2px;
    border-radius: 25%;
}
.IMAGINETRYTOLIVE img{
    transition: 0.5s border;
    width: 300px;
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    border: solid greenyellow 2px;
}
.IMAGINETRYTOLIVE img:hover{
    opacity: 0.8;
    border: solid black 2px;
}
#imgComple{
    transition: 0.50s opacity, border-radius 0.5s;
    opacity: 0;
    background-color: greenyellow;
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 72px;
    font-family: sans-serif;
    border: black solid 1px;
    border-radius: 5px;
}
.IMAGINETRYTOLIVE:hover #imgComple{
    opacity: 0.8;
    border: black solid 1px;
}
#imgComple:hover{
    cursor: pointer;
    border-radius: 30px;
}
.IMAGINETRYTOLIVE{
    display: none;
}
a{
    text-decoration: none;
    color: black;
}